body {
  margin: 0;
  font-family: 'Righteous', cursive;
  line-height: 1.6;
  font-size: 18px;
  color: #777;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


  /* Header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Righteous', cursive;
    color: #fff;
    text-shadow: 1px 1px orange;
    background-color: black;
    border-bottom: 5px solid white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.headertext {
    color: white;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    margin: 0 12px;
    position: relative;
    transition: color 0.1s linear;
}

.logo{
    border-radius: 12px;
    margin-left: 105px;
    margin-right: 600px;

}

.headerlist{
    display: flex;
    list-style-type: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.headertext::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color: #e03c31;

    position: static;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s linear;
}

.headertext:hover {
    color: #e03c31;
}

.headertext:hover::after {
    opacity: 1;
}
/* Header */



/*   Contacts page */


.contacts {
    min-height: 100vh;
    width:100%;
    background: url("Images/cybeerclub.png");
    background-size: cover;
}

.wrap {
    width: 900px;
    margin: 0 auto;
}

.panel {
    width: 900px;
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom-width: 2px;
    border-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.information_contacts {
    color: #000;
    padding-top: 250px;
    text-align: center;
}

.link_name, .link_email {
    text-decoration: none;
    text-decoration-color: orange;
    color: orange;
}

/*   Contacts page */
