body {
  margin: 0;
  font-family: 'Righteous', cursive;

  line-height: 1.6;
  font-size: 18px;
  color: #777;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

  /* INTRO */

  /* Header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Righteous', cursive;
    border-bottom: 2px solid black;
    color: #fff;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.headertext {
    color: black;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    margin: 0 12px;
    position: relative;
    transition: color 0.1s linear;
}

.logo{
    border-radius: 12px;
    text-decoration: none;
    margin-left: 105px;
    margin-right: 600px;

}

.headerlist{
    display: flex;
    text-shadow: 1px 1px blue;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.headertext::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color:blueviolet;

    position: static;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s linear;
}

.headertext:hover {
    color: blueviolet;
}

.headertext:hover::after {
    opacity: 1;
}

/* Header */


/* Donate Page*/

.donate_page {
    background: url("https://images3.alphacoders.com/774/thumb-1920-774574.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width:100%;
}

.donate_system {
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    padding: 300px;
}

/* Donate Page*/
